<div id="modal fade" id="new-post" role="dialog">
  <%= form_for @post, remote:true, html: {class: "form-horizontal"} do |f| %>
    <div class="form-group">
      <div class="col-xs-12">
        <%= f.text_area :blurb, class: "form-control",id:"blurb-box", size:"40x10" %>
      </div>
      <div class="row">
        <%= f.submit "Save", class: "col-xs-offset-2 btn btn-primary"%>
      </div>
    </div>
  <% end %>
</div>
