
<!-- Page Content -->
<div class="container">
  <div class="col-xs-4 col-xs-offset-4">
    <%= paginate @posts %>
  </div>
  <div class="row">
    <div id="posts-col" class="col-md-9">
      <h4 class="pull-right"></h4>
      <div class="col-lg-8 col-md-10 col-md-offset-1" id="blurb-feed">
        <%= render :partial => "post", :collection => @posts %>
      </div>
    </div>
  </div>
</div>
