<div class="container">
  <div class="errors">
    <% if @post.errors.any? %>
      <h2>Errors:<%=  %></h2>
      <ul>
        <% @post.errors.full_messages.each do |m| %>
          <li><%= m %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-10 col-md-offset-1">
      <% if params[:action] == "new" || params[:action] == "create" %>
        <h2 class="post-title">New Blurb</h1>
      <% else %>
        <h2 class="post-title">Edit Blurb</h1>
      <% end %>
      <%= render "newblurb" %>
    </div>
  </div>
